
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
    
    font-family: 'Ubuntu', sans-serif;
    
}
#header{
    background-color: #000;
    height: 50px;
}

#texto1{
     text-align: justify;
     font-size:1.5em;
}




.image{
height: auto;
width: 100%;
    
}
#rodapedireita{
    background-color: #000;
    height: 50px;
}

#rodapeesquerda{
    background-color: #000;
    height: 50px;
}
#header2{
    background-color: #000;
    height: 50px;
}
.navbar-inverse{
    border-radius: 0px;
}

hr{
   border:2px solid #C0EB6A;  
}

.azao:link{
    color:#485550;
}

.azao:hover{
    color:#BBD38B;
    font-size:0.8em;
}
.azao{
    font-weight: 700;
}

.limpa{
    clear: both;
}

.footer{
    margin-top: 50px;
}


.navbar-inverse .navbar-nav>li>a {
    color: #C0EB6A;
    font-size: 1.2em;
}